
@import "compass/utilities/sprites";

/*
z-index最大值不得超过700。

z-index取值范围：
    普通元素：0～100
    floating/吸顶/吸底：101～200
    弹窗：201～300
    loading/分享蒙层：301～400
*/
$index_float: 101;
$index_popup: 201;
$index_mask: 301;

// 红色
$red: #e23a3d;

// 默认字体
%default_font {
    font-family: -apple-system, Helvetica, sans-serif;
}

%inline-block-font: {
    font-family: Helvetica, sans-serif;
}

// 不带-apple-system字体

// 媒体查询
@mixin media( $limit ) {
    @media screen and ( min-width: $limit){
        &{
            @content;
        }
    }
}

@function pxTorem($px) {
    @if $px == 0 {
        @return 0;
    }
    @if $px <=2 and $px > 0 {
        @return 1px;
    }
    @else {
        @return $px / ($px * 0 + 1) / 40 * 1rem;
    }

}

//compass 二倍图转rem
@mixin s2b($sprite, $name, $toRem:true) {
    background: sprite-url($sprite);

    $width: ceil(image-width(sprite-file($sprite, $name)));
    $height: ceil(image-height(sprite-file($sprite, $name)));
    $pos_x: floor(nth(sprite-position($sprite, $name), 1));
    $pos_y: floor(nth(sprite-position($sprite, $name), 2));

    $size_w: ceil(image-width(sprite-path($sprite)));
    $size_h: ceil(image-height(sprite-path($sprite)));
    @if $toRem {
        $pos_x: pxTorem($pos_x);
        $pos_y: pxTorem($pos_y);
        $width: pxTorem($width);
        $height: pxTorem($height);
        $size_w: pxTorem($size_w);
        $size_h: pxTorem($size_h);
    }
    @else {
        $pos_x: px($pos_x);
        $pos_y: px($pos_y);
        $width: px($width);
        $height: px($height);
        $size_w: px($size_w);
        $size_h: px($size_h);
    }

    background-position: $pos_x $pos_y;
    background-size: $size_w $size_h;
    height: $height;
    width: $width;
}

@mixin lineclamp($line:1){
    @if $line<=0{
        //一行
        $line:1;
    }
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin blur($px:4px) {
     -webkit-backdrop-filter: blur($px);
}

@function px($px){
    @if($px>0 and $px<=1){
        @return 1px;
    }
    @else if($px<0 and $px>=-1){
        @return -1px;
    }
    @return $px / 2;
}

// 1像素边框
// $position:［边框位置］top, bottom, left, right
// $color:［边框颜色］
// $radius:［圆角］
// 使用：@include border(top, #ddd); 或 @include border(full, #ddd, 2px);
// %border 项目中无需引用
%_mod_border {content: '\20';display: block;position: absolute;z-index: 1;pointer-events: none;}
@mixin border($position, $borderColor: #ddd, $radius: 0) {
    @extend %_mod_border;
    background: $borderColor;
    @if $position == top {
        height: 1px;left: 0;right: 0;top: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleY(0.5);
                -webkit-transform-origin: 50% 0%;
            }
        }
    }
    @if $position == bottom {
        height: 1px;left: 0;right: 0;bottom: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleY(0.5);
                -webkit-transform-origin: 50% 100%;
            }
        }
    }
    @if $position == left {
        width: 1px;top: 0;bottom: 0;left: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleX(0.5);
                -webkit-transform-origin: 0% 50%;
            }
        }
    }
    @if $position == right {
        width: 1px;top: 0;bottom: 0;right: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleX(0.5);
                -webkit-transform-origin: 100% 50%;
            }
        }
    }
    @if $position == full {
        border: 1px solid #ddd;top: 0;bottom: 0;left: 0;right: 0;
        background: none;
        border-color: $borderColor;
        @if $radius != 0 {
            border-radius: $radius;
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                right: -100%;
                bottom:-100%;
                -webkit-transform:scale(0.5);
                -webkit-transform-origin: 0% 0%;
                $radiusx2: null;
                @each $i in $radius {
                    $radiusx2: append($radiusx2, $i * 2);
                }
                @if $radius != 0 {
                    border-radius: $radiusx2;
                }
            }
        }
    }
}
// 吸顶元素
// $dom:［內容器选择器］
// $height:［外容器站位高度］
// $top:［吸顶时距离顶部距离］
// $zIndex:［z-index数值］
// 使用：@include sticty('ul', 40px, 0, 10); 或 @include sticty('.wrap', 40px);
@mixin sticky($dom, $height, $top:0, $zIndex:10) {
    position: relative;
    height: $height;
    z-index: $zIndex;
    &.fixed #{$dom} {
        position: fixed;
        top: $top;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 540px;
        z-index: $zIndex;
    }
    @supports (position: -webkit-sticky) {
        & {
            position: -webkit-sticky;
            top: $top;
            height: auto;
            &.fixed #{$dom} {position: relative;}
        }
    }
}

// 平滑滚动
// $orientation:［方向］x, y
// 使用：@inlucde scroll; 或 @inlucde scroll(x); @inlucde scroll(y);
@mixin scroll($orientation: '') {
    @if ($orientation == '') {
        overflow: auto;
    }
    @else {
        overflow-#{$orientation}: auto;
    }
    -webkit-overflow-scrolling: touch;
}

//隐藏滚动条
@mixin hide_scroll_bar(){
    &::-webkit-scrollbar{width:pxTorem(0px); height:pxTorem(0px);}
}

// 清除浮动
%clearfix {
    &:after {
        content: '\20';
        display: block;
        clear: both;
    }
}

// flexbox 布局
%flexbox {
    display: flex;
    overflow: hidden;
}





