@charset "utf-8";
/* 重置样式 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0
}

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

img {
    border: 0 none;
    vertical-align: top
}

em,i {
    font-style: normal
}

ol,ul {
    list-style: none
}

button,h1,h2,h3,h4,h5,h6,input,select {
    font-size: 100%;
    font-family: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

a,body {
    color: #666
}

body {
    margin: 0 auto;
    height: 100%;
    font-size: 14px;
    font-family: -apple-system,Helvetica,sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%!important;
    text-size-adjust: 100%!important
}

input[type=text],textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
$rem_grid : 20;
html{
    font-size: $rem_grid * 1px;

    @mixin rem_cross( $width ) {
        @include media( $width * 1px ) {
            font-size:  $width / 375 * $rem_grid * 1px
        }
    }
    @include rem_cross(320);
    @include rem_cross(360);
    @include rem_cross(414);
    @include rem_cross(420);
    @include rem_cross(435);
    @include rem_cross(768);
}
